@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@font-face {
  font-family: "zabras";
  src: url("fonts/zabars/ZABARS/Zabars.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "komika";
  src: url("fonts/komika.hand-bold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #c5e5fc;
  --primary-200: #a5d5f8;
  --primary-300: #8bcbf9;
  --primary-400: #6ebef7;
  --primary-500: #49a6e9;
  --primary-600: #2d87c8;
  --primary-700: #1a6aa2;
  --primary-800: #104e7a;
  --primary-900: #063251;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  min-height: 100vh;
  background: silver;
}
.align-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  height: 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1170px;
}

header {
  display: flex;
  justify-content: center;
  /* background-color: var(--primary-700); */
  align-items: center;
  box-shadow: var(--shadow-1);
  padding: 1rem;
}
.glide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 630px !important;
}

.d-none {
  display: none;
}

.btn {
  cursor: pointer;
  color: var(--white);
  /* background: var(--primary-500); */
  background: rgb(130, 84, 230);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  margin: 0 auto;
  display: flex;
}
.btn:hover {
  background: rgb(81, 33, 186);
  /* background: var(--primary-700); */
  box-shadow: var(--shadow-3);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1170px;
}

h1 {
  font-family: "komika";
  font-size: 80px;
  color: rgb(254, 202, 27);
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-text-stroke: 1px rgb(55, 97, 168);
}

.infos {
  width: 100%;
  font-family: "komika";
  font-weight: 500;
  transition: all 300ms ease-in-out;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}
.pokemon-img {
  width: 100%;
  object-fit: cover;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-block: 3rem;
  padding-inline: 1rem;
}

a {
  text-decoration: none;
  border: 2px solid;
  border-radius: 30px;
}
input {
  padding: 0.5rem;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: linen;
  width: 250px;
  padding-block: 0.75rem;
}

ul img {
  width: 250px;
  position: absolute;
  top: -10px;
}

button.info-btn {
  padding-block: 0.25rem;
  padding-inline: 2.5rem;
}
.details {
  display: flex;
  font-family: system-ui !important;
}

.pokemon-performances {
  display: flex;
  position: absolute;
  bottom: -38px;
}
.glide {
  background: brown;
  position: absolute !important;
  top: 20vh;
  width: 90% !important;
  max-width: 760px !important;
  margin: 0 auto;
  border-radius: 40px;
}
/*

.link {
  width: 20%;
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 300ms ease-in-out;
  position: relative;
  align-items: center;
}

.link:hover {
  transform: scale(1.05);
}




input {
  padding-block: 0.8rem;
  outline: none;
  padding-left: 1rem;
  width: 70%;
}
.search {
  flex-grow: 1;
}
button {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  cursor: pointer;
}
.icon {
  width: 1.5rem;
  background-color: white;
}

.disp-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}



.infos:hover {
  color: tomato;
}

.link:hover .infos {
  background-color: rgb(39, 149, 39);
}
canvas {
  width: 100%;
  height: 100px;
}

.stat {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  color: rgb(24, 23, 23);
  font-weight: bold;
  opacity: 0;
  transition: transform 1s ease-in-out;
}

.link:hover .stat {
  opacity: 0.9;
  transform: translateY(250%);
} */

@media (width<800px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h1 {
    font-size: 60px;
  }
}
@media (width<600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1 {
    font-size: 50px;
  }
}
@media (width<570px) {
  nav {
    flex-direction: column;
  }
  header {
    box-shadow: unset;
    margin-bottom: 5rem;
  }
}
@media (width<500px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
